:root {
	--primary-text-color: #212121;
	--secondary-text-color: #ffffff;
	--ouwer-text-color: #757575;
	--acent-color: #2196f3;
	--logo-color-text: #000000;
	--buttons-port-color: #f5f4fa;
	--footer-text-color: rgba(255, 255, 255, 0.6);
	--footer-bg-color: #2f303a;
	--background-section: #f5f4fa;
	--background-color: #ffffff;
}

body {
	background-color: var(--background-color);
	color: var(--primary-text-color);
	font-family: Roboto, sans-serif;
	letter-spacing: 0.03em;
	font-size: 14px;
}

.visually-hidden {
	position: absolute;
	white-space: nowrap;
	width: 1px;
	height: 1px;
	overflow: hidden;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	margin: -1px;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	font-style: normal;
}

button {
	font-family: inherit;
}

/* Шапка сайта */

/* Лого */

.logo {
	color: var(--logo-color-text);
	font-family: "Raleway";
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
}

.logo-word {
	color: var(--acent-color);
}

/* Навігація */

.link-nav {
	color: var(--primary-text-color);
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
}
.site-nav .link-nav:hover,
.site-nav .link-nav:focus {
	color: var(--acent-color);
}
.site-nav .link-nav.current {
	color: var(--acent-color);
}

/* Контакти */

.auth-nav .contact-link {
	color: var(--ouwer-text-color);
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
}

.auth-nav .contact-link:hover,
.auth-nav .contact-link:focus {
	color: var(--acent-color);
}

/* Герой */

.hero {
	background-color: var(--footer-bg-color);
}

.hero .hero-title {
	color: var(--secondary-text-color);
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
}
.hero .hero-button {
	color: var(--secondary-text-color);
	background-color: var(--acent-color);
	font-weight: 700;
	font-size: 16px;
	line-height: 1.87;
	letter-spacing: 0.06em;
	cursor: pointer;
}

/* Особливості */

.features-title {
	color: var(--primary-text-color);
	font-size: 14px;
	line-height: 1.14px;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}

.features-text {
	color: var(--ouwer-text-color);
	line-height: 1.71;
}

/* Діяльність */

.section-title {
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
}

/* Команда */

.team-section {
	background-color: var(--background-section);
}

.team-name {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.18;
}

.team-work {
	color: var(--ouwer-text-color);
	font-size: 16px;
	line-height: 1.18;
}

/* Портфоліо */

/* Кнопки портфоліо */
.button {
	color: var(--primary-text-color);
	background-color: var(--buttons-port-color);
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	letter-spacing: 0.03em;
}
.button:hover,
.button:focus {
	color: var(--background-color);
	background-color: var(--acent-color);
	cursor: pointer;
}
/*Галерея проектів */
.project-title {
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
}
.project-name {
	color: var(--ouwer-text-color);
	font-size: 16px;
	line-height: 1.87;
}

/* Підвал */

.footer-background {
	background-color: var(--footer-bg-color);
}

.footer-logo {
	color: var(--secondary-text-color);
	font-family: "Raleway";
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
}

.footer-map {
	color: var(--secondary-text-color);
	line-height: 1.71;
}

.footer-contact-link {
	color: var(--footer-text-color);
	line-height: 1.71;
}
.footer-contact-link:hover,
.footer-contact-link:hover,
.footer-contact-link:focus,
.footer-contact-link:focus {
	color: var(--acent-color);
}
